<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'first_app/css/mystyle.css' %}"/>
  <title>Django Level Two</title>
</head>
<body>
  <h1>Welcome to Django Level Two</h1>
  <h2>List of accessed webpages:</h2>

  <div class="djangoTwo">
    {% if access_records %}
    <table>
      <tr>
        <th>Site Name</th>
        <th>Date Accessed</th>
      </tr>

      {% for acc in access_records %}
      <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.date }}</td>
      </tr>
      {% endfor %}

    </table>
    {% endif %}
  </div>

</body>
</html>